<%= form_tag(thing_path(id: thing.id), method: :put) do |f| %>
  <div class="field">
    <%= label_tag :name %>
    <%= text_field_tag :name, thing.name %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
